<nav>
  <div class="main-menu">
    <ul class="navbar-left">
    <img src="assets/img/logoweb.jpg" alt="logoweb" style="width: 60px" />
    <li><a href="/index" class="menu-active"> Home </a></li>
    <li><a href="/blog" > Blog </a></li>
    <li><a href="/testimonial"> Testimonial</a></li>
  </ul>
  <a class="navbar-right" href=" /contact">Contact Me</a>
  </div>
  <div class="mobile-menu"> 
    <img src="assets/img/logoweb.jpg" alt="logoweb" style="width: 60px" />
   <button id="hamburger-icon" class="hamburger-icon">☰</button>
  </div>
  </nav>
    <div id="mobile-menu-list" class="mobile-menu-list 
    mobile-menu-hide">
    <a href="index" class="menu-active">Home</a>
    <a href="blog">Blog</a>
    <a href="contact">Contact Me</a>
  </div>