<nav>
  <div class="main-menu">
    <ul class="navbar-left">
    <img src="../assets/img/logoweb.jpg" alt="logoweb" style="width: 60px" />
{{!-- home --}}
    <li><a class="menu-active {{#if (equal currentPage 'Home')}}
    active fw-bold
    {{/if}}" href="/index"> Home </a></li>
{{!-- Blog --}}
    <li><a class="menu-active {{#if (equal currentPage 'Blog')}}
    active fw-bold
    {{/if}}"href="/Blog" > Blog </a></li>
{{!-- testimonial --}}
    <li><a  class="menu-active {{#if (equal currentPage 'Testimonial')}}
    active fw-bold
    {{/if}}"href="/testimonial"> Testimonial</a></li>
  </ul>
  {{#if user}}
  <div class="text-end w-100 me-4">Selamat datang, {{user.name}}  </div>
  {{/if}}

  <a class="navbar-right {{#if (equal currentPage 'Home')}}
    active fw-bold
    {{/if}}"" href=" /contact">Contact</a>
  </div>
  <div class="mobile-menu"> 
    <img src="assets/img/logoweb.jpg" alt="logoweb" style="width: 60px" />
   <button id="hamburger-icon" class="hamburger-icon">☰</button>
  </div>
  </nav>
    <div id="mobile-menu-list" class="mobile-menu-list 
    mobile-menu-hide">
    <a href="index" class="menu-active">Home</a>
    <a href="blog">Blog</a>
    <a href="contact">Contact Me</a>
  </div>