<!DOCTYPE html>
<html>
<head>
    <title>Personal Web</title>
    <link rel="icon" href="assets/img/logoweb.jpg" />
    <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <ul class="navbar-links">
            <img src="assets/img/logo.png" >
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
            </li> 
        </ul>
        <a class="nav-contact-button" href="contact.html">Contact Me</a>
    </nav>

    <!-- BLOG DETAIL SECTION -->
    <article class="blog-detail">
        <h1>Pasar Coding di Indonesia</h1>

        <p>30 Jan 2025 11:22 WIB | Alfin Abdussalam</p>

        <img src="assets/img/blog-img-detail.png" alt="blog-image">

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum assumenda, voluptates maiores sequi quisquam pariatur voluptatem non consequuntur dolor architecto, unde magni enim itaque. Nostrum quod veniam quaerat modi ducimus accusamus dolorem, repellat iusto, autem, ex in nesciunt eos mollitia quo numquam deserunt pariatur aut fugiat id maiores enim.</p>
    </article>
</body>
</html>