@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "poppins, serif";
}


nav {
  background-color: lightgrey;
}

.main-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
}
.navbar-left{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.navbar-left a {
    text-decoration: none;
    color: black;
}
.navbar-right{
    text-decoration: none;
    background-color: orangered;
    color: white;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.mobile-menu{
  display:none;
}
.mobile-menu-list{
  display: none;
}
.hamburger-icon{
  font-size: 36px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px;
}
/* home */
#card-section{
  flex: 1;
}

.sosmed :hover{
  opacity: .7;
  transform: scale(.85);

}
.home {
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
  /* max-width: 400px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home img {
  width: 100%;
  align-items: center;
}

.profil {
  width: 100%;
  font-size: large;
  border-collapse: collapse;

}

/* introduction */
#intro {
  flex: 3;
}

#wid h1 {
  margin-top: 30px;
}

#teknologi {
  display: flex;
}

#socials a{
  text-decoration: none;
  margin-right: 20px;
}

#socials a img{
  width: 50px;
}

/* kontak */
.contact-section {
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form {
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .form-label {
    font-size: 18px;
  }
  
  .form-input {
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 7px;
    font-size: 18px;
  }
  
  .form-submit-button {
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
  }
  /* CREATE BLOG FORM STYLES */

.create-blog-form {
  width: 500px;
  margin: 30px auto;
}

.create-blog-form h1 {
  text-align: center;
}

.button-container {
  text-align: right;
  margin-top: 30px;
}

.create-blog-form button {
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: orangered;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* BLOG LIST STYLES */
.blog-list {
  width: 90%;
  margin: 30px auto;
}

.blog-item {
  /* height: 250px; */
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.blog-item-img {
  align-items: normal;
  /* background-color: salmon; */
  /* flex: 4; */
}

.blog-item-img img {
  height: 300px;
}

.blog-item-text {
  /* background-color: aquamarine; */
  flex: 1;
}

.blog-item-buttons {
  text-align: right;
}

.blog-edit-button {
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: #ccc;
  color: black;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.blog-post-button {
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: orangered;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.blog-item-relative-time {
  color: lightgray;
  padding-right: 20px;
  font-size: 14px;
  text-align: right;
}
/* BLOG DETAIL STYLES */
.blog-detail {
  width: 60%;
  margin: 40px auto;
}

.blog-detail img {
  width: 100%;
}


/* for mobile devices */
@media screen and (max-width: 768px) {
.main-menu{
  display: none;
  }

  .main-content{
  display: contents;
}

.mobile-menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.menu-active{
  background-color: orangered !important;
  color: white !important;
}
.mobile-menu-show{
  display: block;
}

.mobile-menu-hide{
  display: none;
}
.mobile-menu-list a{
  display: block;
  font-size: 35px;
  text-decoration: none;
  border: 1px white;
  background-color: #aaa;
  color: #fff;
  text-align: center;
}

#card-section{
  padding: 30px;
}

#introduction {
  padding: 0 30px 30px;
}

#teknologi {
  flex-direction: column;
}

#teknologi img{
 width: 40px; 
}
  
#teknologi h2{
  margin: 5px 0;
}
/* contact*/
.contact-form{
  width: 90%;
}
/* blog page */
.create-blog-form{
  width: 90%;
}
.blog-item{
  flex-direction: column;
}
.blog-item-img img {
  height: 100%;
}
}

